{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">{{ object|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Display Experts' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
<div class="module">
  {% for err in errors %}
    <p class="errornote">{{ err }}</p>
  {% endfor %}
    <table id="change-history">
        <thead>
        <tr>
            <th scope="col">{% translate 'Sector' %}</th>
            <th scope="col">{% translate 'User Name' %}</th>
            <th scope="col">{% translate 'Phone Number' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for row in rows %}
        <tr>
            <th scope="row">{{ row.sector.name }}</th>
            <td>{{ row.username }}</td>
            <td>{{ row.phone }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
